/*
 * Smartsieve Style Sheet
 * S Grier
 */

body{ 
	background-color: #e5e5e5;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
}

input{
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	color: #000000;
}

a:link{
	color: #0000FF;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	text-decoration: none;
}

a:visited{
	color: #0000FF;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	text-decoration: none;
}

a:active{
	color: #0000FF;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	text-decoration: none;
}

a.rule:link{
        color: #0000FF;
        font-family: sans-serif;
        font-size: 8pt;
        text-decoration: none;
}

a.rule:visited{
        color: #0000FF;
        font-family: sans-serif;
        font-size: 8pt;
        text-decoration: none;
}

a.rule:active{
        color: #000000;
        font-family: sans-serif;
        font-size: 8pt;
        text-decoration: none;
}

a.rule:hover{
        color: #0000FF;
        font-family: sans-serif;
        font-size: 8pt;
        text-decoration: none;
}

.enabled{
	color: #008000;
	font-family: helvetica,sans-serif;
	font-size: 9pt;
	background-color: #FFFFFF;
}

.disabled{
	color: #FF0000;
	font-family: helvetica,sans-serif;
	font-size: 9pt;
	background-color: #FFFFFF;
}

.ruleenabled{
        color: #008000;
        font-family: helvetica,sans-serif;
        font-size: 9pt;
	background-color: #e5e5e5;
}

.ruledisabled{
	color: #FF0000;
        font-family: helvetica,sans-serif;
        font-size: 9pt;
	background-color: #e5e5e5;
}

.menu{
	background-color: #b5b5b5;
}

.menuouter{
	background-color: #000000;
}

.main{
	background-color: #b5b5b5;
}

.status{
	background-color: #b5b5b5;
	color: #000000;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.statusouter{
        background-color: #000000;
}

.heading{
	background-color: #e5e5e5;
	color: #000000;
	font-family: helvetica,sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

.ruleinfo{
	background-color: #e5e5e5;
	color: #000000;
	font-family: helvetica,sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.rules{
	background-color: #FFFFFF;
}

.options{
	background-color: #b5b5b5;
	color: #0000FF;
	font-family: helvetica,sans-serif;
	font-size: 9pt;
}

.errors{
	background-color: #FFFFFF;
	color: #FF0000;
	font-family: helvetica,sans-serif;
	font-size: 9pt;
}

.messages{
	background-color: #FFFFFF;
	color: #000000;
	font-family: helvetica,sans-serif;
	font-size: 9pt;
}

.welcome{
	background-color: #b5b5b5;
	color: #000000;
	font-family: helvetica,sans-serif;
        font-size: 9pt;
	font-weight: bold;
}

a.option:link{
        color: #0000FF;
        font-family: helvetica,sans-serif;
        font-size: 9pt;
        text-decoration: none;
}
 
a.option:visited{
        color: #0000FF;
        font-family: helvetica,sans-serif;
        font-size: 9pt;
        text-decoration: none;
}
 
a.option:active{
        color: #000000;
        font-family: helvetica,sans-serif;
        font-size: 9pt;
        text-decoration: none;
}
 
a.option:hover{
        color: #0000FF;
        font-family: helvetica,sans-serif;
        font-size: 9pt;
        text-decoration: none;
}





